<div class="container">
        <!-- head -->
     <header>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
    </header>
    <!-- head of end -->
    <!-- main -->
    <main>
             <!-- main -->
        <div class="grid">
            <div class="item item-1">1
                <button mat-raised-button color="primary">Primary</button>

            </div>
            <div class="item item-2">2
                <button mat-raised-button color="primary">Primary</button>
            </div>
            <div class="item item-3">3

            </div>
            <div class="item item-4">4</div>
            <div class="item item-5">5</div>
            <div class="item item-6">
               <img src="https://lumiere-a.akamaihd.net/v1/images/sa_pixar_virtualbg_coco_16x9_9ccd7110.jpeg" alt="">
            </div>
            <!-- input -->
            <div class="wrapper">
              <h1>Login</h1>
              <div class="input-box">
                <input type="text" placeholder="Username" required>
                <mat-icon> account_circle </mat-icon>
              </div>
              <div class="input-box">
                <input type="password" placeholder="Password" required>
                <mat-icon>
                  <span class="material-symbols-outlined">
                    lock
                  </span>
                </mat-icon>
              </div>
              <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot password</a>
              </div>
              <button class="btn">Login</button>
              <div class="register-link">
                <p>Don't have an account?
                <a href="#">Register</a></p>
              </div>
            </div>
             <!-- End of input -->
           <h1>wfwf</h1>

        </div>
    </main>
    <!-- main of end -->
    <div>under

    </div>

</div>



